<div id="reservation_form_box" class="container col-xs-12">

    <div>
        <h2>Table Reservation Form</h2>
        <small class="text-info"> <%= Time.now.asctime %> </small>
    </div>

    <form>
        <!-- Name -->
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Name" required>
        </div>

        <!-- Number of guests -->
        <div class="form-group">
            <label>Number of guest</label>
            <select class="form-control" id="person_number" required>
                <option value="2"> 2 </option>
                <option value="3"> 3 </option>
                <option value="4"> 4 </option>
                <option value="5"> 5 </option>
                <option value="6"> 6 </option>
                <option value="7"> 7 </option>
                <option value="7"> 8 </option>
            </select>
        </div>

        <!-- Date and time -->
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="name">Date/Time</label>

                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" />
                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="optional" for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                else.</small>
        </div>

        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required class="form-control"
                placeholder="Phone number">
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-4 pt-2 mb-5">Submit</button>
    </form>


</div>
